body {
    height: 100%;
    background-image: url("/images/straws.png");
}

/*------------------------------------------------ верхняя панель ----------------------------------------------------*/
.top {
    position: absolute;
    background: rgba(73,109,153, 0.8);
    width: 1024px;
    margin-top: 4px;
    margin-left: calc(50% - 512px);
    font-size: 12px;
    height: 64px;
    padding: 8px;
    color: white;
    line-height: 48px;
    vertical-align: middle;
}

.top .title {
    font-size: 20px;
    font-weight: bold;
    margin: 8px 8px 0 8px;
}

.top button {
    margin-bottom: 8px;
}

.top button[name=debug]{
    float: right;
    margin: 8px 8px 0 0;
}

/*------------------------------------------------ боковая панель ----------------------------------------------------*/
.index {
    position: absolute;
    width: 400px;
    background: rgba(143, 188, 143, 0.2);
    margin-top: calc(64px + 4px + 4px);
    margin-left: calc(50% - 512px);
    height: calc(100% - 64px - 8px);
    padding: 8px;
    overflow: auto;
}

.index div {
    float: left;
}

.index .parts {
    width: 100%;
    height: 32px;
    margin-bottom: 4px;
    background: rgba(242, 242, 242, 0.2);
}

.index .parts div {
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    background: rgba(242, 242, 242, 0.8);
}

.index .parts:hover div {
    background: rgba(246, 246, 246, 0.8);
}

.index .number {
    width: 32px;
    text-align: center;
}

.index .words {
    width: 46px;
    text-align: center;
    margin-left: 2px;
}

.index .words span:hover {
    cursor: pointer;
}

.index .tests {
    width: 46px;
    text-align: center;
    margin-left: 2px;
}

.index .tests span:hover {
    cursor: pointer;
}

.index .comment {
    width: calc(100% - 48px - 48px - 32px - 2px);
    padding-left: 12px;
    margin-left: 2px;
}

/*------------------------------------------------ главная панель ----------------------------------------------------*/
.main {
    position: absolute;
    width: 620px;
    background: rgba(250, 240, 230, 0.5);
    margin-top: calc(64px + 4px + 4px);
    margin-left: calc(50% - 512px + 400px + 4px);
    height: calc(100% - 64px - 8px);
    padding: 8px;
    overflow: auto;
}

.main .terms {
    width: 100%;
    height: 64px;
    margin-bottom: 8px;
    background: rgba(242, 242, 242, 0.2);
}

.main .terms div {
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    background: rgba(242, 242, 242, 0.8);
}

.main .terms .number {
    width: 32px;
    text-align: center;
    float: left;
}

.main .terms .question {
    width: calc(100% - 32px);
    margin-left: 34px;
    padding-left: 8px;
}

.main .terms .answer {
    width: calc(100% - 32px - 2px);
    margin-left: 34px;
}

.main .terms .answer input {
    width: 100%;
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding-left: 8px;
}

.main .terms .answer input.correct {
    background: rgba(60, 179, 113, 0.2);
}

.main .terms .answer input.incorrect {
    background: rgba(205, 92, 92, 0.2);
}
